.App {
  text-align: center;
  padding-top: 100px;
}

.messenger {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #ecf5fd;
  height: 584px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
}

.message {
  bottom: 0;
  text-align: left;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.message h6 {
  background-color: #3f51b5;
  display: inline;
  padding: 5px;
  color: white;
}

.message:nth-child(odd) h6 {
  background-color: green;
}

.messenger-text {
  height: auto;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  background-color: #ecf5fd;
  padding: 20px;
}

* {
  border-radius: 10px;
  box-sizing: border-box;
}